html { 
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(28, 25, 212, 0.884);
    background-color: rgb(180, 180, 180);
    /*tells the whole background what color to be*/
}
header, main {
    padding: 2.5rem;}
    a:link { color: #ff0000; }
    a:visited { color: #fffb00; }
    a:hover { color: #ff00bf; background-color: #39da11; text-decoration: none; }
    a:active { color: #f52db2; background-color: #00ff37; text-decoration: none; }
p, {
  font-size: 2.5rem;    
  line-height: 2;
  letter-spacing: 2px;
  color: rgba(25, 212, 65, 0.884) ;
}
body {
  max-width: 1000px; 
  margin: 3 auto;
  background-color: rgb(180, 180, 180); 
  padding: 0 20px 20px 20px;
  border: 2.0rem groove rgb(34, 199, 250);
  font-family: 'Mansalva', serif;
  font-size: 32px;
}
li {
  display: inline-block;
  font-size: 2.5rem;    
  line-height: 2;
  letter-spacing: 2px;
  color: rgba(25, 212, 65, 0.884) ;
  float: left;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}
li a {
    display: block;
    padding: 18px;
    background-color: #dddddd;
}
img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.content {
  max-width: 500px;
  margin: auto;
}
nav {
  display: block;
  padding: 0 20px 20px 20px;
  border-style: solid;
  border-width: 5px;
    }
section#phoenix-chillin-in-the-garage figure {
  float: left;
  width: 60%;
  padding-right: 2em;
}
section#phoenix-chillin-in-the-garage figure img {
  width: 100%;
}
section#after-image {
    clear: left;
}
.intro {
    position: relative
    /* relative positioning means move it this far from where it would normally be */
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    color: #333333;
}
footer {
  display: block;
}
    
@media screen and (max-width: 600px) { .bit-columns { column-count: 2; } } 
@media screen and (max-width: 320px) { .bit-columns { column-count: unset; } }
  
.container {
  column-width: 400px;
  column-count: 2;
  column-gap: 20px;
  column-rule: 4px dotted rgb(79, 185, 227);
}
.content-box {
  padding: 1.0em;
  background: #ff7;
  column-count: 3;
  column-rule: inset 2px #33f;
}
column-count examplebody {  
  min-width: 321px;  
  max-width: 600px;  
  margin: 2em auto;  
  font: .9em/1.2 Arial, Helvetica, sans-serif;
} 
    /*This should, in theory, be the unset.*/
.foo {
  width: 251px;
}
pre; img {
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: pre-wrap;      /* Modern browsers */
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#hbhk {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myP5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myGps {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#pwp {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#plhb {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#pspb {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#hbss {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#sfp {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#hbsti {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
